spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:  jdbc:mysql://106.54.8.126:3307/ordering?serverTimezone=UTC
    username: root
    password: 123456
    hikari:
      minimum-idle: 5
      idle-timeout: 600000
      maximum-pool-size: 10
      auto-commit: true
      pool-name: MyHikariCP
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1
  application:
    name: business-oauth2
  main:
    allow-bean-definition-overriding: true
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  cloud:
    nacos:
      discovery:
        server-addr: 106.54.8.126:8848

dubbo:
  scan:
    base-packages: com.czxy.paopao
  protocol:
    name: dubbo
    port: -1
    serialization: kryo
  registry:
    address: nacos://106.54.8.126
    port: 8848
server:
  port: 9001
management:
  endpoints:
    web:
      exposure:
        include: "*"
business:
  oauth2:
    grant_type: password
    client_id: client
    client_secret: secret